<div class="main my-page">
  <div class="container">
    <h1>Hello,<%= current_user.username%>!</h1>
    <h1>Let's chat with...</h1>

    <% @users.each do |user|%>
      <div class="users-index-item">
        <div class="user-right">
          <p><%= link_to user.username,"/rooms/#{user.id}"%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
