<h1>Welcome to LINE-Like-App!</h1>
<h2>You can chat with your friends by this app!</h2>

<% if !(user_signed_in?) %>
  <h2>if you have an account... </h2>
  <p><%= link_to'Sign in', new_user_session_path%></p>
  <br>
  <h2>you don't?</h2>
  <p><%=link_to 'Sign up', new_user_registration_path%></p>
<% end%>
